.seats-container{
    border: 2px solid grey;
    margin-bottom: 40px;
}

.seats-container li{
   list-style: none;
}
.seatStatusColor{
    justify-content: center;
}
.seatStatusColor li{
    list-style: none;
}